{% extends "html_sites/base.html" %}

{% block title %}Vocabulary{% endblock %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5"> Expert Vocabulary</h1>
      <p class="lead">
In this section, experts can add vocabulory that will help Mothers quickly navigate to results that are represtative of their pregnancy phase. The vocabulory entered in this section will add into the search queries which are triggered when mother access the clickable UI in the help4mom page.</p>
    </div>



<div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Antepartum</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <!-- <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1> -->
            <ul class="list-unstyled mt-3 mb-4">
              <li>antepartum</li>
              <li>prenatal</li>
              
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Click to add vocabulary</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Intrapartum</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <!-- <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1> -->
            <ul class="list-unstyled mt-3 mb-4">
              <li>intrapartum</li>
              <li>labor</li>
              <li>delivery</li>
              <li>management</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Click to add vocabulary</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Postpartum</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <!-- <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1> -->
            <ul class="list-unstyled mt-3 mb-4">
              <li>postpartum</li>
              
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Click to add vocabulary</button>
          </div>
        </div>
{% endblock content %}